.color1 {color: #d0b8d8;}
.color2 {color: #c29cb1;}
.color3 {color: #bca58f;}
.color4 {color: #bfbc96;}
.color5 {color: #79ada2;}
 /*  */
.color1 {color: #5c6379;}
.color2 {color: #949490;}
.color3 {color: #09292c;}
.color4 {color: #2d4d42;}
.color5 {color: #6f7767;}